<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ruletheworld.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FB104D471F0605D500CE255F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB104D5B1F0605D600CE255F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB104D661F0605D600CE255F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
